@using DTOLayer.ResDTO;
@using EntityLayer.Concrete;
@model ThreadResDto

@{
    if (Model != null)
    {
        ViewData["Title"] = Model.Thread.Title;
        <div id="mainThread">
            @await Html.PartialAsync("BlogDetails/_ArticlePartial", Model.Thread)
            @await Html.PartialAsync("BlogDetails/_ArticleActionsPartial", Model)
        </div>

        @await Html.PartialAsync("BlogDetails/_AddCommentPartial")
        <span>Yorumlar (<span id="commentCount">@Model.NumOfComments</span>)</span>
        <i id="showCommentsButton" style="cursor: pointer" onclick="showComments()" class="bi bi-caret-down-square"></i>

        <div id="commentsContainer" class="card shadow-0 border-0">
            <!-- Comments -->
        </div>
    }
    else
    {
        <article>
            <div class="col-md-12">
                <h2>Thread Not Found</h2>
            </div>
        </article>
    }

    <style>
        button.text-btn {
            background: none;
            border: none;
        }

    </style>
}

<script src="~/js/thread/details.js" asp-append-version="true"></script>

<template id="comment">
    @await Html.PartialAsync("BlogDetails/_CommentPartial")
</template>

<div id="injector"
     data-comments-req-url="@Url.Action("Comments")/@Model.Thread.Id"
     data-vote-thread-req-url="@Url.Action("Vote")"
     data-thread-id="@Model.Thread.Id"
     data-authenticated="@User.Identity.IsAuthenticated">
</div>