@using DTOLayer.ReqDTO;
@model RegisterReqDTO
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        @Html.TextBoxFor(x=> x.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Name, "", new {@class = "text-danger"})
    </div>

    <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        @Html.TextBoxFor(x=> x.Surname, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Surname, "", new {@class = "text-danger"})
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        @Html.TextBoxFor(x=> x.Email, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Email, "", new {@class = "text-danger"})
    </div>

    <div class="mb-3 ">
        <label for="password" class="form-label">Password</label>
        @Html.TextBoxFor(x=> x.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(x=> x.Password, "", new {@class = "text-danger"})
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}

